{{#partial "login"}}
    Login Page
{{/partial}}

{{#partial "content"}}
    <body style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: black;">
    <div class="login-box" style="background-color: #ffffff; border-radius: 8px; padding: 20px; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); width: 300px; border: 3px solid #4CAF50;">
        <legend class="legend" style="font-size: 24px; font-weight: bold; margin-bottom: 10px; text-align: center;">LOGIN</legend>
        <form class="login-form" method="post" action="/login" style="margin-top: 20px;">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div style="position: relative;">
                    <input type="password" id="password" name="password" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;">
                    <span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;" onclick="togglePasswordVisibility()">
                    <i class="far fa-eye" id="eye-icon"></i>
                    </span>
                </div>
            </div>
            <button class="btn btn-info black-text-green-border" type="submit" style="background-color: #4CAF50; color: white; padding: 4px 8px; border: solid 1.5px black; border-radius: 100px; cursor: pointer; font-size: 12px; margin: 0 auto; display: block;">LOGIN</button>
        </form>
    </div>
    </body>
{{/partial}}

{{>layout.hbs}}