{{#partial "title"}}
    Sighting Page
{{/partial}}

{{#partial "content"}}
    <nav class="navbar navbar-expand-lg navbar-dark green fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <span style="color: yellow;"><i class="fas fa-mask animated rotateIn infinite orange"></i><strong>The Wildlife Tracker App <i class="fas fa-mask animated rotateIn infinite white"></i></strong></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link border border-dark rounded" href="/"><span style="color: black;"><strong>Home</strong></span> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border border-dark rounded" href="/regular-animal-list"><span style="color: black;"><strong>Regular Animals List</strong></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border border-dark rounded" href="/animal-list"><span style="color: black;"><strong>Endangered Animals List</strong></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border border-dark rounded" href="/sightings-list"><span style="color: black"><strong>Sightings</strong></span></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/dmuthui/" onclick="btnClick()" class="nav-link border border-dark rounded" target="_blank" style="color: black; font-size: small;">
                            <i class="fab fa-github mr-2"></i><strong>GitHub</strong>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link border border-dark rounded" href="/about-app-page"><span style="color:black"><strong>About App Page</strong></span> <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="view" style="background-image: url('/images/sightings.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="mask rgba-black-light align-items-center">
            <div class="container">
                <div class="indexRow">
                    <div class="col-md-12 mb-4 white-text text-center ">
                        <h3 class="h3-reponsive text-black text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 animated wobble" style="color: yellow;"><strong> Record/Report a sighting: </strong></h3>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <form action="/sightings-list" method="post">
                                    <div class="form-group">
                                        <label for="animalName" class="in-line" style="color: green;"><strong>ANIMAL NAME:</strong></label>
                                        <select id="animalName" name="animalName" type="text" class="form-control">
                                            {{#each animals}}
                                                <option value="{{animal_id}}">{{animalName}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="location" class="in-line" style="color: green;"><strong>ANIMAL LOCATION:</strong></label>
                                        <select id="location" name="location" type="text" class="form-control transparentInputFields">
                                            <option value="Zone A">Zone A</option>
                                            <option value="Zone B">Zone B</option>
                                            <option value="Zone C">Zone C</option>
                                            <option value="Zone D">Zone D</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="rangerName" class="in-line" style="color: green;"><strong>RANGER NAME:</strong></label>
                                        <input type="text" name="rangerName" class="form-control transparentInputFields">
                                    </div>
                                    <button class="btn btn-info black-text-white-border" type="submit" name="add-sighting" style="background-color: yellow;"><strong>Add Sighting</strong></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{{/partial}}
{{>layout.hbs}}